<table>
  <thead>
  <tr>
    <th>Location</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= interest_list_item.listing.location %></td>
         </tr>

  </tbody>
</table>
