<div class="center">
  <div class="card bg-light text-dark">
    <div class="card-body"><p id="notice"><%= notice %></p>
      <h1>New Listing</h1>

<%= render 'form', listing: @listing %>

<%= link_to 'Back', listings_path %>
    </div>
  </div>
</div>