<table>
  <thead>
  <tr>
    <th>Location</th>
    <th>Square footage</th>
    <th>Year built</th>
    <th>Style</th>
    <th>List price</th>
    <th>Floors</th>
    <th>Basement</th>
    <th>Current house owner</th>
    <th>Contact</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @interest_list.interest_list_id %>
   <tr>

    </tr>

  </tbody>
</table>

<br>
