

<section>
  <code><li><%= link_to 'List Users', users_path %></li>
    <li><%= link_to 'List Companies', companies_path %></li>
    <li><%= link_to 'List of Enquires', enquiries_path %></li>
    <li><%= link_to 'List Listings', listings_path %></li></code>
</section>

<aside>
  <code> <h1>Welcome</h1>
    <p>Find me in app/views/users/dashboard.html.erb</p></code>
</aside>
<style>
code {

background: #FFFFFF;
border-radius: 6px;
color: black;
display: block;
  height: 600px;
padding: 24px 15px;
text-align: left;
}
header,
section,
aside,
footer {
margin: 30px 1.5% 24px 1.5%;

}
section {
float: left;
width: 23%;


}
aside {
float: right;
width: 70%;

}
</style>