<div class="center">
  <div class="card bg-light text-dark">
    <div class="card-body"><p id="notice"><%= notice %></p>
      <h1>New Enquiry</h1>

<%= render 'form', enquiry: @enquiry %>

<%= link_to 'Back', enquiries_path %>

    </div>
  </div>
</div>